<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book API</title>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="flex flex-col items-center gap-4 bg-black">
    <div class="p-4">
        <h1 class="text-2xl font-bold text-white">Welcome to the Book API</h1>
    </div>
    <div id="book-list" class="grid grid-rows space-y-2 p-4 w-3/4 max-w-4xl rounded-md bg-rose-100">
        <div class="flex justify-around border-black-500 rounded-sm text-black gap-2">
            <div class="col-span-1 w-1/4 p-2 bg-rose-400 rounded-sm">Title</div>
            <div class="col-span-1 w-1/4 p-2 bg-rose-400 rounded-sm">Author</div>
            <div class="col-span-1 w-1/4 p-2 bg-rose-400 rounded-sm">Genre</div>
            <div class="col-span-1 w-1/4 p-2 bg-rose-400 rounded-sm">Quantity</div>
        </div>
        {{ range .books }}
        <div class="flex justify-around border-black-500 rounded-sm text-black gap-2">
            <div class="col-span-1 w-1/4 p-1 bg-rose-300 rounded-sm">{{ .Title }}</div>
            <div class="col-span-1 w-1/4 p-1 bg-rose-300 rounded-sm">{{ .Author }}</div>
            <div class="col-span-1 w-1/4 p-1 bg-rose-300 rounded-sm">{{ .Genre }}</div>
            <div class="col-span-1 w-1/4 p-1 bg-rose-300 rounded-sm text-center">{{ .Quantity }}</div>
        </div>
        {{ end }}
    </div>
    <div class="grid grid-flow-col grid-cols-3 grid-rows-2 w-3/4 max-w-4xl bg-rose-100 justify-between gap-4 p-14">
        <form class="flex flex-col w-full items-center rounded-md bg-rose-300 border-1 border-white row-span-2 col-span-2 p-4" hx-post="/books" hx-ext="json-enc" hx-swap="none" json-enc-parse-types="true">
            <h2 class="font-bold mx-4 my-4 text-lg">Add a New Book</h2>
            <div class="mx-4 my-2">Title</div>
            <input class="w-3/4 mx-4 p-1 bg-white rounded-md" name="title" type="text" required>
            <div class="mx-4 my-2">Genre</div>
            <input class="w-3/4 mx-4 p-1 bg-white rounded-md" name="genre" type="text" required>
            <div class="mx-4 my-2">Author</div>
            <input class="w-3/4 mx-4 p-1 bg-white rounded-md" name="author" type="text" required>
            <div class="mx-4 my-2">Quantity</div>
            <input class="w-3/4 mx-4 p-1 bg-white rounded-md" name="quantity" type="number" required>
            <button class="mx-4 w-1/3 mt-4 bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600" type="submit">Add Book</button>        
        </form>
        <div class="flex flex-col items-start gap-2 row-span-1 bg-rose-300 rounded-md p-4" >
            <h2 class="self-center font-bold">Checkout a Book</h2>
            <input class="bg-white p-1 rounded-sm w-full" type="number" id="id" placeholder="Book ID" required>
            <button class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 mt-auto" onclick="updateCheckout()">Checkout</button>
        </div>
        <div class="flex flex-col gap-2 row-span-1 bg-rose-300 rounded-md p-4 justify-between">
            <h2 class="self-center">Return a Book</h2>
            <input class="bg-white p-1 rounded-sm w-full" type="number" id="return-id" placeholder="Book ID" required>
            <button class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 self-end" onclick="returnBook()">Return</button>
        </div>
    </div>

    <div class="w-3/4 h-14">
    </div>


    <script>
        document.body.addEventListener('htmx:afterRequest', function(event) {
            let data = JSON.parse(event.detail.xhr.response);
            console.log(data);
            let parent = document.getElementById('book-list')
            console.log(parent);
            let child = document.createElement('div');
            child.setAttribute('class', 'flex justify-around border-black-500 rounded-sm text-black gap-2');
            child.innerHTML = `
                <div class="col-span-1 w-1/4 p-2 bg-rose-300 rounded-sm">${data.title}</div>
                <div class="col-span-1 w-1/4 p-2 bg-rose-300 rounded-sm">${data.author}</div>
                <div class="col-span-1 w-1/4 p-2 bg-rose-300 rounded-sm">${data.genre}</div>
                <div class="col-span-1 w-1/4 p-2 bg-rose-300 rounded-sm text-center">${data.quantity}</div>
            `;
            parent.appendChild(child);
            // console.log(event.detail.xhr.response);
        });
        function updateCheckout() {
            var id = document.getElementById("id").value;
            var url = "/checkout?id=" + id;
            fetch(url, {method: 'PUT'})
                .then(response => response.json());
        }        
        function returnBook() {
            var id = document.getElementById("return-id").value;
            var url = "/return?id=" + id;
            fetch(url, {method: 'PUT'})
                .then(response => response.json());
        }
    </script>
</body>
</html>